@model IEnumerable<Entrada>

@{
    ViewData["Title"] = "Entradas Creadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UsuarioId = 0;
    if (!string.IsNullOrEmpty(User.Claims.First().Value))
    {
        UsuarioId = Int32.Parse(User.Claims.First().Value);
    }
}

<p>
    @if (User.IsInRole("Miembro"))
    {
        <a class="btn btn-success text-white" asp-controller="Entradas" asp-action="Create">Crear Nueva Entrada</a>
    }
</p>
<div class="card col-md-12 mt-3 p-3">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="p-3 bg-primary text-white">
                    <h3 class="text-center text-white">Mis Entradas</h3>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Categoria)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Titulo)
                            </th>

                            @if (User.IsInRole("Usuario"))
                            {
                                <th></th>
                            }
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-entradaId="@item.EntradaId">@item.Descripcion</a>
                                    </td>
                                    @if (User.IsInRole("Usuario"))
                                    {
                                        <td>
                                            <a class="btn btn-info" asp-action="Details" asp-route-entradaId="@item.EntradaId">Detalles</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-entradaId="@item.EntradaId">Eliminar</a>
                                        </td>
                                    }
                                    else if (item.MiembroId == UsuarioId)
                                    {
                                        <td>
                                            <a class="btn btn-info" asp-action="Details" asp-route-entradaId="@item.EntradaId">Detalles</a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <p class="text-muted">Se encontraron: @(Model?.Count() ?? 0) Entradas en esta categoría</p>
</div>
