@model HomeViewModel
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Routing
@{
    ViewData["Title"] = "Home Page";
    var utilities = new FORO_D.Helpers.Utilities(new HttpContextAccessor());
    var urlHelper = Context.RequestServices.GetService(typeof(IUrlHelperFactory)) as IUrlHelperFactory;
}
<div class="card col-md-12 mt-3 p-3">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header btn-primary text-white">
                    <h3 class="text-center text-white"> @Html.DisplayNameFor(model => model.Top5EntradasConMasPreguntaYRespuestas)</h3>
                </div>
                <div class="card-body">
                    @foreach (Entrada item in Model.Top5EntradasConMasPreguntaYRespuestas)
                    {
                        <div class="card mb-3">
                            @Html.Raw(utilities.RenderizarEntrada(item, Model.SesionUserId, urlHelper.GetUrlHelper(ViewContext)))
                        </div>
                    }
                </div>
            </div>
        </div>


        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header btn-primary text-white">
                    <h3 class="text-center text-white"> @Html.DisplayNameFor(model => model.Top5EntradasMasRecientes)</h3>
                </div>
                <div class="card-body">
                    @foreach (Entrada item in Model.Top5EntradasMasRecientes)
                    {
                        <div class="card mb-3">
                            @Html.Raw(utilities.RenderizarEntrada(item, Model.SesionUserId, urlHelper.GetUrlHelper(ViewContext)))
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="card">
                <div class="card-header btn-primary text-white">
                    <h3 class="text-center">@Html.DisplayNameFor(model => model.Top3MiembrosConMasEntradasUltimoMes)</h3>
                </div>
                <div class="card-body">
                    @if (Model.Top3MiembrosConMasEntradasUltimoMes != null && Model.Top3MiembrosConMasEntradasUltimoMes.Any())
                    {
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="card border-info-subtle">
                                    <div class="card-header alert-info text-white text-center">
                                        <h5 class="m-0">#1</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title text-center">@Model.Top3MiembrosConMasEntradasUltimoMes[0].NombreCompleto</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card border-info-subtle">
                                    <div class="card-header alert-info text-white text-center">
                                        <h5 class="m-0">#2</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title text-center">@Model.Top3MiembrosConMasEntradasUltimoMes[1].NombreCompleto</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card border-info-subtle">
                                    <div class="card-header alert-info text-white text-center">
                                        <h5 class="m-0">#3</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title text-center">@Model.Top3MiembrosConMasEntradasUltimoMes[2].NombreCompleto</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h6 class="text-muted text-center">No hay registros de miembros con más entradas en el último mes.</h6>
                    }
                </div>
            </div>
        </div>




</div>
