@model FORO_D.Models.Miembro

@{
    ViewData["Title"] = "Detalles";
    int cantPreguntas = ViewBag.cantPreguntas;
    int cantRespuestas = ViewBag.cantRespuestas;
    int cantReacciones = ViewBag.cantReacciones;
}
<div class="card col-md-12 p-3">
    <div class="card">
<h1 class=" btn-primary text-center text-white">@ViewData["Title"]</h1>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalles del Miembro</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-3">Usuario:</dt>
            <dd class="col-sm-9">@Model.UserName</dd>

            <dt class="col-sm-3">Nombre:</dt>
            <dd class="col-sm-9">@Model.Nombre</dd>

            <dt class="col-sm-3">Apellido:</dt>
            <dd class="col-sm-9">@Model.Apellido</dd>

            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Teléfono:</dt>
            <dd class="col-sm-9">@Model.Telefono</dd>

            <dt class="col-sm-3">Fecha de Alta:</dt>
            <dd class="col-sm-9">@Model.FechaAlta.ToString()</dd>

            <dt class="col-sm-3">Preguntas:</dt>
            <dd class="col-sm-9">@cantPreguntas</dd>

            <dt class="col-sm-3">Respuestas:</dt>
            <dd class="col-sm-9">@cantRespuestas</dd>

            <dt class="col-sm-3">Reacciones:</dt>
            <dd class="col-sm-9">@cantReacciones</dd>
        </dl>

        <div class="mt-4">
            <a class="btn btn-secondary" asp-action="Index">
                <i class="fas fa-arrow-left"></i> Volver a la Lista
            </a>
        </div>
    </div>
    </div>  
    </div>
</div>