@model IEnumerable<Miembro>

@{
    ViewData["Title"] = "Lista De Miembros";

    int UsuarioId = 0;
    if (!string.IsNullOrEmpty(User.Claims.First().Value))
    {
        UsuarioId = Int32.Parse(User.Claims.First().Value);
    }
}
<div class="card col-md-12 p-3">
    <div class="card">
    <h1 class="btn-primary text-center text-white">@ViewData["Title"]</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        @if (User.IsInRole("Usuario") || User.IsInRole("Miembro"))
                        {
                            <th>Acciones</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var miembro in Model)
                    {
                        <tr>
                            <td>@miembro.UserName</td>
                            <td>@miembro.Nombre</td>
                            <td>@miembro.Apellido</td>
                            <td>@miembro.Email</td>
                            <td>@miembro.Telefono</td>
                            @if (User.IsInRole("Usuario") || User.IsInRole("Miembro"))
                            {
                                <td>
                                    @if (User.IsInRole("Usuario") || (User.IsInRole("Miembro") && miembro.Id == UsuarioId))
                                    {
                                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@miembro.Id">
                                            <i class="fas fa-info-circle"></i> Detalles
                                        </a>
                                    }
                                    @if (User.IsInRole("Miembro") && miembro.Id == UsuarioId)
                                    {
                                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@miembro.Id">
                                            <i class="fas fa-edit"></i> Editar
                                        </a>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
